.imagesParent {
  display: flex;
  flex-wrap: wrap;
}

.imgFormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.previewImg {
  height: 500px;
  width: 500px;
}

.imgCard {
  height: 250px;
  width: 250px;
  display: block;
  margin: 10px;
}

.img {
  height: 100%;
  width: 100%;
}
